html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /* fazendo a coluna ter 1 fração */
  grid-template-columns: 1fr;
  /* fazendo as linhas serem 3 */
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #161b33ff;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #161b33ff;
  color: #ffffff;
  text-align: center;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.linha.centralizada {
  justify-content: center;
}

/* Casses ou atributos globais */
a {
  text-decoration: none;
}

a:hover {
  color: #e15554ff;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

a.marca {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
