/* Corpo */
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
/* Definições globais */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

/* header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #brading {
  float: left;
}

header #brading h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 20px;
}

header .destacado,
header .selecionado a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Area principal */

#showcase {
  min-height: 480px;
  background: #;
  text-align: center;
  color: #ec0c0c;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

.botao_1 {
  height: 38px;
  background: #e8491d;
  border: none;
  padding: 0 20px 0 20px;
  color: #ffffff;
}

/*  Caixas */

#caixas {
  margin-top: 20px;
}

.caixa {
  /* float: left; */
  width: 20%;
  padding: 10px;
  text-align: center;
}

#caixas .caixa img {
  width: 90px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
}
